PyQt6>=6.10.2
regex>=2025.11.3
pyyaml>=6.0.3
deep-translator>=1.11.4
googletrans
openai>=2.15.0
anthropic>=0.75.0
requests>=2.32.5
pyinstaller>=6.17.0
pytest>=9.0.2
pytest-cov>=7.0.0
python-dotenv>=1.2.1
google-genai>=1.57.0
PyQt6-Fluent-Widgets[full]
loguru>=0.7.3
toml>=0.10.2
deepl>=1.27.0
groq>=1.0.0
together>=1.5.34
aiohttp>=3.13.3
mistralai>=1.10.0